body{
  background-image: url('http://media.hdp.hbgusa.com/coverimages/9780316231756');
  background-size:auto;
}

a{
  color: darkblue;

}
a:hover{
  color: darkred;
}
#secondImage{
  width:500px;
  height:250px;
}
#firstImage{
width: 250px;
height: 500px;
}
